{% extends 'layout.html' %}
{% block body %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	

	<div class="card-group" style="padding-top: 5px; padding-bottom: 5px; border-radius: 2px; margin-right: 2px; margin-left: 2px;">
  <div class="card" style="background-color: #b3b3b3;">
    <img src="https://th.bing.com/th/id/OIP.Yhmf96GqMKFTqYZyI6DbtAHaHa?pid=ImgDet&rs=1" style="height: 300px;">
    <div class="card-body">
      <h4 class="card-title" style="color:black; font-family: w3-serif;">HomeTown</h4>
      <p class="card-text" style="color: black; font-family: w3-cursive;">Kabul (/ˈkɑːbʊl, kəˈbʊl/; Pashto: کابل, IPA: [kɑˈbəl]; Dari: کابل, IPA: [kɒːˈbol]) is the capital and largest city of Afghanistan. Located in the eastern half of the country, it is also a municipality, forming part of the Kabul Province; it is administratively divided into 22 municipal districts. According to 2021 estimates, the population of Kabul was 4.6 million.[3][6][7] In contemporary times, the city has served as Afghanistan's political, cultural, and economical centre,[8] and rapid urbanisation has made Kabul the 75th-largest city in the world[9] and the country's primate city..</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card" style="border-radius: 2px;">
    <img src="https://th.bing.com/th/id/OIP.h1omY0m4qHBAqkgg6aoj9QHaEK?pid=ImgDet&rs=1" class="card-img-top" alt="..." style="height: 300px;">
    <div class="card-body"  style="background-color: #f6d8ac;">
      <h4 class="card-title" style="font-family: w3-serif;">Field of Study</h4>
      <p class="card-text" style="font-family: w3-cursive;">Computer applications are programs that run on a computer, typically those that are intended for end users. These can include word processors, media players, and accounting software. Applications can also be considered as a collective noun. Here are a few examples of different applications. In this article, we’ll look at three of the most common types: video games, word processors, and accounting software. In addition, let’s talk about the difference between application programs and software.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://th.bing.com/th/id/OIP.HqVZU_QIqNzq77NCkk_iIwHaDJ?pid=ImgDet&rs=1" style="height: 300px;"alt="...">
    <div class="card-body" style="background-color: #2a6592;">
      <h4 class="card-title" style="font-family: w3-serif;" >Proficiency</h4>
      <p class="card-text" >Technology plays an integral part in our day-to-day lives. It surrounds us in the simplest of places to perform ordinary tasks and make room for great inventions. All the web pages and software that we use to make our lives easier are developed by Web Developers. However, the Web Development meaning is still not clear to many of us, so let’s start there and learn more about what Web Development is.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

</body>
</html>

{% endblock %}